<!DOCTYPE html>
<html>
  <body>
    <link rel="stylesheet" href="static/style.css" />
    <head>
      <title>Gradebook</title>
    </head>
    <h3>All Grades:</h3> <p id = 0></p>
    <div id="demo">
    </div>
    <h3>Display Student Grade:</h3> <p id = 1></p>
    <form>
      <label for="first">First Name:</label><br>
      <input type="text" id="first" name="first" /><br />
    </form>
    <h3>Add Student and Grade</h3> <p id = 2></p>
    <form>
      <label for="nombre">Name:</label><br>
     
      <label for="percent">Grade:</label><br>
      <input type="text" id="percent" name="percent" />
      
    <h3>Choose Student, Update Grade</h3> <p id = 3></p>
    <form>
      <label for="nickname">Name:</label><br>
     
    </form>
    <h3>Remove Student Grade</h3> <p id = 4></p>
    <form>
      <label for="person"> Name:</label><br>
      <input type="text" id="person" name="person" />
    </form>
    <script src="static/edit.js"></script>
  </body>
</html>